{% extends 'layout.twig' %}

{% block body %}
    <h1>Welcome!</h1>

    <p>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            Well hallo there! You're logged in and ready to go!
        {% else %}
            You can
            <a href="{{ path('login') }}">login</a> if you want to, but you
            can access the product admin section without logging in.
        {% endif %}
    </p>
{% endblock %}