{% extends 'layout.twig' %}

{% block body %}
    <h1>Welcome!</h1>

    <p>
        You can
        <a href="{{ path('login') }}">login</a> if you want to, but you
        can access the product admin section without logging in.
    </p>
{% endblock %}